body {
    background-color: rgb(209, 209, 209);
}

header {
    background-image: linear-gradient(rgb(145, 0, 202), rgb(134, 1, 187));
    margin-top: -20px;
}
#título {
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#lista {
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
    margin-top: -10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
a {
    text-decoration: none;
    text-align: center;
    color: white;
}

ul:hover {
    color: rgb(255, 217, 0);
    cursor: pointer;
    position: relative;
    transform: scale(1.08);
    transition-duration: 0.5s;
}

#all {
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    background-color: rgba(202, 201, 201, 0.945);
    padding-right: 200px;
    padding-left: 200px;
}

#titulo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 46px;
}

#subtitulo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: -18px;
    font-size: 40px;
}

#texto {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 28px;
}
#video {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#linkiphone {
    text-align: center;
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
}
#linkiphone:visited {
    color:rgb(212, 0, 255);
}
#fotoiphone {
    width: 500px;
    height: 300px;
    align-items: center;
}
#rodape {
    background-color: rgb(106, 47, 160);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}