body {
    margin: -2px;
}
header {
    background-image: linear-gradient(rgb(145, 0, 202), rgb(134, 1, 187));
    margin-top: -34px;
    position: relative;
}
#adm {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
}
#título {
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#título:hover {
    animation-name: titulo;
    animation-duration: 3s;
    animation-duration: infinite;
    transform: scale(1.1);
    transition-duration: 1s;
}
@keyframes titulo {
    0%{
        color: rgb(236, 141, 236);
    }
    30%{
        color:rgb(179, 83, 179);
    }
    45% {
        color:rgb(143, 31, 143);
    }
    50%{
        color: rgb(112, 4, 112);
    }
}

#lista {
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
    margin-top: -10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

a {
    text-decoration: none;
    text-align: center;
    color: white;
}

ul:hover {
    color: rgb(255, 217, 0);
    cursor: pointer;
    position: relative;
    transform: scale(1.08);
    transition-duration: 0.5s;
}
body{
    background-color: rgb(228, 226, 228);
}
h2 {
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2:hover {
    transform: scale(1,1);
    transition-duration: 1s;
    color: rgb(172, 56, 172);
}
#p {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#fundinho {
    background: rgb(209, 209, 209);
}
#rodape {
    background-color: rgb(106, 47, 160);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
#divimg {
    display: flex;
    justify-content: center;  
}
